
.hero:not(:last-child){
    margin: 0 0 16px 0;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero__banner{
    padding: 8px 10px 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;

    border-radius: 12px;
    background: #E1EAFF;
}


.hero-banner__text{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color:#867FFF;
}

.hero-banner__icon{
    object-fit: contain;

    flex-shrink: 0;
    display: block;
}

.hero__slide{
    background-color: #F7F7FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    padding: 40px 15px 40px 32px;

    position: relative;

    margin-top: 12px;
}



.hero__image{
    width: 250px;
    height: 100%;

    z-index: 1;

    order: 2;

    object-fit: contain;
}

.hero__text{
    order: 1;

    display: flex;
    z-index: 2;
    flex-direction: column;
}

.hero__title{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.27;
    letter-spacing: -0.44px;
}

.hero__subtitle{
    font-size: 16px;
    line-height: 1.25;
}

.hero__subtitle:not(:first-child){
    margin: 6px 0 0 0;
}

.hero__button{
    padding: 11px 24px;
    font-size: 14px;
    border-radius: 100px;

    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600
}

.hero__button:not(:first-child){
    margin: 12px 0 0 0;
}

.hero__advertising{
    position: absolute;
    top: 8px;
    right: 16px;
}

.hero__navigation--next,.hero__navigation--prev{
    display: none;
}

.hero-pagination{
    bottom: 12px;
}


.swiper-slide-active .hero__title {
    -webkit-animation: fade-in-bottom .8s cubic-bezier(.39, .575, .565, 1) both;
    animation: fade-in-bottom .8s cubic-bezier(.39, .575, .565, 1) both
}

.swiper-slide-active .hero__subtitle {
    -webkit-animation: fade-in-bottom .8s cubic-bezier(.39, .575, .565, 1) .2s both;
    animation: fade-in-bottom .8s cubic-bezier(.39, .575, .565, 1) .2s both
}

.swiper-slide-active .hero__button {
    -webkit-animation: fade-in-bottom .8s cubic-bezier(.39, .575, .565, 1) .3s both;
    animation: fade-in-bottom .8s cubic-bezier(.39, .575, .565, 1) .3s both
}

.swiper-slide-active .hero__image {
    -webkit-animation: fade-in-right .8s cubic-bezier(.39, .575, .565, 1) both;
    animation: fade-in-right .8s cubic-bezier(.39, .575, .565, 1) both
}


@media screen and (max-width: 400px) {
    .hero__slide{
        flex-direction: column;
        align-items: flex-start;


        padding: 0 32px 40px 32px;
    }

    .hero__image{
        order: 1;
        width: 156px;
        height: 126px;
        margin-top: -8px;
    }


    .hero__image img{
        transform: translateY(-8px);

    }

    .hero__text{
        order: 2;
    }
}