.pricelist {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 24px;

        &:not(:last-child) {
            border-bottom: 1px solid #F2F2F5;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__right {
        display: flex;
    }

    &__price {
        align-self: center;
        min-width: 195px;
        margin-right: 40px;
        font-weight: 600;
        font-size: 24px;
    }

    &__button {
        background-color: var(--bg-light);
        border-radius: 100px;
        font-weight: 600;
        padding: 12px 28px;

        &:hover {
            background-color: var(--border-color);
            color: #000;
        }
    }

    &__company {
        display: flex;
        margin-bottom: 12px;
    }

    &__logo {
        border: 1px solid #F2F2F5;
        border-radius: 12px;
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    &__name {
        align-self: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    &__address {
        margin-bottom: 8px;
    }

    &__schedule {
        color: var(--secondary-color);
    }
}