// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #eee;

// FONTS
// stylelint-disable-next-line
$font-primary: "Roboto Flex", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.2s;
$easing-back-out: cubic-bezier(
	0.25,
	0.74,
	0.22,
	1.1
); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(
	0.47,
	-0.1,
	0.5,
	-0.06
); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop: 1200;
$desktop-xl: 1400;
$laptop: 992;
$tablet: 768;
$mobile: 320;
$desktop-vh: 750;

:root {
	--primary-color: #00c293;
	--primary-hover-color: #00b88b;
	--secondary-color: #78808f;
	--red-color: #eb1c4e;
	--icon-default: #abb6cc;
	--border-color: #f2f2f5;
	--bg-light: #f7f7fa;
	--text-dark: #444952;
	--default-radius: 24px;
	--box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.06);
	--safe-area-bottom-height: 0;
	--site-fixed-tab-bar-height: 0;
}
