.info-block__image{
    flex-shrink: 0;
}

.info-block__text{
    margin: 0 0 0 16px;
    width: 100%;

    line-height: 20px;
}

@media screen and (max-width: 500px) {
    .info-block__text--small{
        max-width: 200px;
    }
}