.city-popup {
  display: none;
  z-index: 901;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 16px 0px #00000014;
  min-width: 355px;
  top: -16px;
  left: 0;
  padding: 20px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  transition: .3s;

  &.is-active {
    top: calc(100% + 25px);
    left: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    z-index: 902;
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background-color: #fff;
    position: absolute;
    top: -8px;
    left: 32px;
    transform: rotate(45deg);
  }

  &__subtitle {
    color: var(--secondary-color);
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 12px;
  }

  &__buttons {
    display: flex;

    .button:not(:last-child) {
      margin-right: 6px;
    }
  }
}

.city-change {
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px #0000001A;
  padding: 24px;

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__loading {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;

    .button--loading {
      width: 20px;
      height: 20px;

      &::after {
        width: 15px;
        height: 15px;
        border: 2px solid var(--icon-default);
        border-bottom-color: transparent;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    display: inline;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin: 0 32px 0 0;
  }

  &__define {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: var(--primary-color);
    margin-top: 5px;
    cursor: pointer;

    &-icon {
      margin-right: 5px;
      margin-bottom: 4px;
      transition: .1s;
    }

    &-loading {
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      .button--loading {
        &::after {
          border: 2px solid var(--primary-color);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &__choosen {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100%;
    overflow-x: hidden;
    padding: 2px 0;
    padding-right: 20px;
    margin-bottom: 20px;
    user-select: none;

    &-icon {
      flex-shrink: 0;
      width: 20px;
      height: 24px;
      margin-right: 4px;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: var(--secondary-color);
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 6px;
      }

      &--city {
        font-weight: 600;
        color: #000;
      }

      &--region {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-loading {
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      .button--loading {
        &::after {
          border: 2px solid var(--icon-default);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &__input {
    width: 100%;
    border: 1px solid #E1E1E5;
    padding: 12px 12px 12px 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    &:focus-visible {
      outline: none;
      border-color: #000;
    }

    &-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-clear {
      display: none;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-loading {
      right: 12px;
      top: 50%;
      transform: translateY(-50%);

      .button--loading {
        &::after {
          border: 2px solid var(--icon-default);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &__cities {
    width: calc(100% + 36px);
    height: 520px;
    margin-left: -12px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 12px;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background-color: #FFFFFF;
      padding-bottom: 12px;
    }

    &::-webkit-scrollbar-track:hover {
      background-color: #FFFFFF;
    }

    &::-webkit-scrollbar-track:active {
      background-color: #FFFFFF;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #ABB6CC;
      border: 4px solid #FFFFFF;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #ABB6CC;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: #ABB6CC;
    }
  }

  .city-change__cities-nf {
    display: none;
    padding: 0 12px;

    &-title {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      padding: 10px 0;
    }

    &-query {
      font-weight: 600;
    }

    &-info {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: var(--secondary-color);
    }

    &-suggest {
      cursor: pointer;
      color: var(--primary-color);
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
    }
  }

  &__city {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 12px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;

    &.hidden {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    &:hover {
      background-color: var(--bg-light);
    }

    &-text {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      position: relative;
      z-index: 2;
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 6px;
      }
    }

    &-region {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--secondary-color);
    }
  }
}