.card-adding {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	background: var(--bg-light);
	border-radius: 99px;
	overflow: hidden;

	&--plus {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 2px;
			height: 16px;
			margin: auto;
			background-color: var(--icon-default);
		}
	}

	&--minus,
	&--plus {
		position: relative;
		width: 100% !important;
		height: 44px;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 16px;
			height: 2px;
			margin: auto;
			background-color: var(--icon-default);
		}

		&:hover {
			background-color: var(--bg-light);

			&::after,
			&::before {
				background-color: var(--primary-color);
			}
		}
	}

	&__input {
		padding: 0;
		width: 100%;
		font-weight: 600;
		font-size: 14px;
		line-height: 44px;
		color: #000;
		flex: 0 0 44px;
		border: none;
		text-align: center;
		background: transparent;
		transition: all 200ms;
	}
}
