.instructions {
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -2%;
        margin-bottom: 32px;

        &--small {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
        }
    }

    &__link {
        color: var(--primary-color);

        &:hover {
            color: var(--primary-hover-color);
        }
    }

    &__text {
        color: var(--text-dark);
    }

    &__block {
        margin-bottom: 24px;

    }

    &__banner {
        position: sticky;
        top: 96px;

        &-button {
            position: absolute;
            padding: 12px 28px;
            border-radius: 99px;
            color: #fff;
            background-color: #00C293;
            left: 50%;
            transform: translateX(-50%);
            bottom: 16px;
        }
    }
}