@import 'mixins/helpers';
@import 'mixins/breakpoint';
@import '../functions/responsive';

.location {
	&__current {
		display: flex;
		align-items: center;
		line-height: 24px;
		color: var(--secondary-color);

		@include laptop {
			font-size: 14px;
		}

		@include desktop {
			font-size: 1rem;
		}

		@include hover {
			color: var(--primary-color);

			.location__icon {
				fill: var(--primary-color);
			}
		}
	}

	&__icon {
		display: inline-block;
		margin-right: 6px;
		width: 16px;
		height: 16px;
		flex: 0 0 16px;
		fill: var(--icon-default);
		transition: all 300ms;
	}
}
