.reviews {
    position: relative;

    &__images {
        img {
            width: 84px;
            height: 84px;
        }
    }

    &__sort {
        position: relative;
        color: var(--secondary-color);
        margin: 32px 0;

        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--border-color);
        }

        &-dropdown {
            width: fit-content;
            display: flex;
            align-items: center;
            background-color: #fff;
            padding-right: 12px;
            cursor: pointer;

            &.is-active .reviews__dropdown-icon {
                path {
                    fill: var(--text-dark);
                }
            }

            &:hover {
                color: var(--text-dark);
            }
        }
    }

    &__rating {
        margin-bottom: 32px;
        position: relative;
        display: flex;
        align-items: center;

        .reviews-rating {
            &__block {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                line-height: 32px;
                font-weight: 600;
                background-color: unset;
                cursor: auto;
            }

            &__icon {
                width: 26.67px;
                height: 26.67px;
                margin-right: 6px;
            }

            &__count {
                font-size: 16px;
                color: var(--secondary-color);
                margin-left: 8px;
                margin-top: 6px;
                cursor: auto;

                &:hover {
                    color: var(--secondary-color);
                }
            }

            &__button {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 12px 28px;
                background-color: var(--primary-color);
                border-radius: 99px;
                color: #fff;
                line-height: 24px;
                font-weight: 600;

                &:hover {
                    background-color: var(--primary-hover-color);
                }
            }
        }
    }

    &__button--more {
        margin-top: 8px;
        padding: 12px 28px;
        background-color: var(--bg-light);
        border-radius: 99px;
        color: #000;
        line-height: 24px;
        font-weight: 600;

        &:hover {
            background-color: var(--border-color);
        }
    }
}

.review {
    padding: 24px 0;

    &:not(:last-child) {
        border-bottom: 1px solid #F2F2F5;
    }

    &__username {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 12px;
    }

    &__rating {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 16px;
    }

    &__checked {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        border-radius: 8px;
        padding: 3px 6px;
        background-color: var(--bg-light);
        font-size: 14px !important;
        color: var(--secondary-color);

        &-icon {
            width: 18px;
            height: 18px;
            margin-right: 4px;
        }
    }

    &__stars {
        display: flex;
        margin-left: 10px;
    }

    &__star-icon {
        width: 16.67px;
        height: 16.67px;

        &--disabled {
            filter: saturate(0);
            opacity: .3;
        }

        &:not(:last-child) {
            margin-right: 3.67px;
        }
    }

    &__product {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        transition: .3s;
        border-radius: 15px;
        padding: 8px 12px;
        cursor: pointer;

        &:hover {
            background-color: var(--bg-light);
            color: #000 !important;
        }

        &-block {
            display: flex;
            flex-direction: column;
        }

        &-image {
            width: 64px;
            height: 64px;
            margin-right: 16px;
        }

        &-desc {
            color: var(--secondary-color);
            margin-top: 4px;
        }

        &-right {
            display: flex;
            align-items: center;
            margin-left: auto;
            cursor: pointer;
        }

        &-price {
            font-weight: 600;
            margin-right: 24px;
            min-width: 106px;
            text-align: right;
        }

        &-icon {
            width: 14px;
            height: 14px;
            border-top: 2px solid var(--icon-default);
            border-left: 2px solid var(--icon-default);
            transform: rotate(135deg);
            transition: all 300ms;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    &__images {
        display: flex;
        margin-bottom: 16px;

        img {
            width: 84px;
            height: 84px;
            border-radius: 16px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    &__date {
        color: var(--secondary-color);
    }

    &__buttons {
        display: flex;
        margin-left: auto;
    }

    &__button {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;

        svg path {
            transition: .3s;
        }

        &:not(&--active) {
            svg path {
                transition: .3s;
                fill: #ABB6CC;
            }
        }

        &--like {
            svg path {
                transition: .3s;
                fill: #00C293;
            }
        }

        &--dislike {
            svg path {
                transition: .3s;
                fill: #EB1C4E;
            }
        }

        svg {
            width: 24px;
            height: 24px;
            margin-right: 4px;
        }
    }
}