.reviews {
    position: relative;

    &__images {
        margin-top: 24px;
    }

    &-block {
        &__image {
            width: 84px;
            height: 84px;
            border-radius: 16px;

            &--more {
                position: relative;
                filter: brightness(.36);
            }
        }

        &__count {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            white-space: nowrap;
        }
    }

    &-slider {
        position: relative;

        &__navigation {
            position: absolute;
            top: 50%;
            width: 32px;
            height: 32px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: var(--box-shadow);
            transform: translateY(-50%);
            z-index: 1;

            &--next {
                right: -16px;
            }

            &--prev {
                left: -16px;
            }

            &--disabled {
                opacity: 0;
                visibility: hidden;
                transition: all 300ms;
            }

            &__icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__sort {
        position: relative;
        color: var(--secondary-color);
        margin-top: 32px;
        margin-bottom: 8px;

        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--border-color);
        }

        &-dropdown {
            width: fit-content;
            display: flex;
            align-items: center;
            background-color: #fff;
            padding-right: 12px;
            cursor: pointer;

            &.is-active .reviews__dropdown-icon {
                path {
                    fill: var(--text-dark);
                }
            }

            &:hover {
                color: var(--text-dark);
            }
        }
    }

    &__rating {
        margin-bottom: 32px;
        position: relative;
        display: flex;
        align-items: center;

        .reviews-rating {
            &__block {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                line-height: 32px;
                font-weight: 600;
                background-color: unset;
                cursor: auto;
            }

            &__icon {
                width: 26.67px;
                height: 26.67px;
                margin-right: 6px;
            }

            &__count {
                font-size: 16px;
                color: var(--secondary-color);
                margin-left: 8px;
                margin-top: 6px;
                cursor: auto;

                &:hover {
                    color: var(--secondary-color);
                }
            }

            &__button {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 12px 28px;
                background-color: var(--primary-color);
                border-radius: 99px;
                color: #fff;
                line-height: 24px;
                font-weight: 600;

                &:hover {
                    background-color: var(--primary-hover-color);
                }
            }
        }
    }

    &__button--more {
        margin-top: 8px;
        padding: 12px 28px;
        background-color: var(--bg-light);
        border-radius: 99px;
        color: #000;
        line-height: 24px;
        font-weight: 600;

        &:hover {
            background-color: var(--border-color);
        }
    }
}

.review {
    padding: 24px 0;

    &:not(:last-child) {
        border-bottom: 1px solid #F2F2F5;
    }

    &__username {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 12px;
    }

    &__rating {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 16px;
    }

    &__checked {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        border-radius: 8px;
        padding: 3px 6px;
        background-color: var(--bg-light);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: var(--secondary-color);

        &-icon {
            width: 18px;
            height: 18px;
            margin-right: 4px;
        }
    }

    &__stars {
        display: flex;
        margin-left: 8px;
    }

    &__star-icon {
        width: 16.67px;
        height: 16.67px;

        &--disabled {
            filter: saturate(0);
            opacity: .3;
        }

        &:not(:last-child) {
            margin-right: 3.67px;
        }
    }

    &__product {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        transition: .3s;
        border-radius: 15px;
        padding: 8px 0;
        cursor: pointer;

        &::after {
            z-index: -1;
            content: "";
            position: absolute;
            left: -10px;
            top: 0;
            display: block;
            width: calc(100% + 20px);
            height: 100%;
            border-radius: 15px;
            background-color: var(--bg-light);
            overflow: hidden;
            opacity: 0;
            transition: .3s;
        }

        &:hover {
            color: #000 !important;

            &::after {
                overflow: visible;
                opacity: 1;
            }
        }

        &-block {
            display: flex;
            flex-direction: column;
        }

        &-image {
            width: 64px;
            height: 64px;
            margin-right: 16px;
        }

        &-desc {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: var(--secondary-color);
            margin-top: 4px;
        }

        &-right {
            display: flex;
            align-items: center;
            margin-left: auto;
            cursor: pointer;
        }

        &-price {
            font-weight: 600;
            margin-right: 24px;
            min-width: 106px;
            text-align: right;

            &--null {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: #ABB6CC;
            }
        }

        &-icon {
            width: 24px;
            height: 24px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding: 9px 0;
    }

    &__date {
        color: var(--secondary-color);
    }

    &__buttons {
        display: flex;
        margin-left: auto;
    }

    &__button {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;

        svg path {
            transition: .3s;
        }

        &:not(&--active) {
            svg path {
                transition: .3s;
                fill: #ABB6CC;
            }

            &:hover {
                svg path {
                    fill: #78808F;
                }
            }
        }

        &--like {
            svg path {
                transition: .3s;
                fill: #00C293;
            }
        }

        &--dislike {
            svg path {
                transition: .3s;
                fill: #EB1C4E;
            }
        }

        svg {
            width: 24px;
            height: 24px;
            margin-right: 4px;
        }
    }
}