@import 'mixins/helpers';
@import 'mixins/breakpoint';
@import '../functions/responsive';

.small-navigation {
	&__icon {
		width: 20px;
		height: 20px;
		fill: none;
		stroke: var(--icon-default);
		stroke-width: 2px;
		transition: all 300ms;
	}
	&--prev,
	&--next {
		width: 32px;
		height: 32px;
		background-color: #fff;
		box-shadow: var(--box-shadow);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 300ms;
		z-index: 2;

		@include hover {
			.small-navigation__icon {
				stroke: var(--primary-color);
			}
		}
	}

	&--disabled {
		opacity: 0;
		visibility: hidden;
	}
}
