.category-slider {
    position: relative
}

.category-slider .swiper-slide{
    width: 156px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.category-slider__link {
    background-color: var(--bg-light);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    height: 124px;
    width: 100%;
    padding: 8px 12px;
    border-radius: 16px;

    overflow: hidden;
    position: relative;
}

.category-slider__name {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    position: relative;
    word-break: break-word;
    z-index: 1
}
