*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: $font-primary !important;
}

html {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: $font-primary !important;
    font-size: 16px;
    line-height: 24px;
    scroll-behavior: smooth;

    &.has-cursor,
    &.has-cursor * {
        // stylelint-disable-next-line
        cursor: none !important;
    }

    &.is-lock-scroll,
    &.is-lock-scroll body {
        overflow: hidden;
    }

    // @media (max-width: 1175px) {
    // 	font-size: 14px;
    // }

    // @media (min-width: 1175px) and (max-width: 1280px) {
    // 	font-size: 16px;
    // }

    // @media (min-width: 1280px) and (max-width: 1440px) {
    // 	font-size: 18px;
    // }

    // @media (min-width: 1440px) {
    // 	font-size: 20px;
    // }
}

body {
    -webkit-font-smoothing: antialiased;
    text-decoration-skip: objects;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;

    .tooltip {
        --bs-tooltip-max-width: 186px;
        --bs-border-radius: 8px;
        --bs-tooltip-padding-y: 5px;
        --bs-tooltip-padding-x: 12px;
        --bs-emphasis-color: rgba(0, 0, 0, 0.8);
        font-family: $font-primary;
        font-size: 16px;
        line-height: 22px;
    }

    .bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow:before,
    .bs-tooltip-top .tooltip-arrow:before {
        width: 12px;
        height: 6px;
        top: 0;
        border: none;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEyIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGlkPSJQb2x5Z29uIDEiIG9wYWNpdHk9IjAuOCIgZD0iTTcuNDE0MjIgNC41ODU3OUM2LjYzMzE3IDUuMzY2ODMgNS4zNjY4NCA1LjM2Njg0IDQuNTg1NzkgNC41ODU3OUwwIDYuMDU2ODNlLTA3TDEyIDBMNy40MTQyMiA0LjU4NTc5WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==);
    }
}

main {
    flex: 1;
}

.main {
    padding-bottom: 96px;
}

a,
button {
    border: none;
    outline: none;
    background: transparent;
    transition: $duration-normal;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;

    @include hover {
        color: var(--primary-hover-color);
    }
}

input {
    font-family: $font-primary;
}

p {
    font-size: 18px;
    line-height: 24px;
}

figure,
picture {
    display: inline-block;
    margin: 0;
    line-height: 0;

    img {
        width: 100%;
    }
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
    user-select: none;
}

img[draggable="false"] {
    pointer-events: none;
    // stylelint-disable-next-line
    -webkit-user-drag: none;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}




video {
    outline: none;
    width: 100%;
    height: 100%;
}

iframe {
    display: block;
}

.js-lazy-load:not(.is-loaded) {
    max-height: 50vh;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // fallback
    // stylelint-disable-next-line
    // overflow: hidden;
    min-height: var(--vh);
}

.form-group {
    position: relative;
}

.w-100 {
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: max-content;
    border: none;
    font-family: $font-primary;
    background: transparent;
    transition: 200ms;

    @include hover {
        color: #fff;
        background-color: var(--primary-hover-color);
    }

    &--loading {
        position: relative;
        color: transparent !important;
        pointer-events: none;
        user-select: none;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 24px;
            height: 24px;
            margin: auto;
            border: 2px solid #fff;
            border-bottom-color: transparent;
            border-radius: 50%;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }
    }

    &-big {
        padding: 0 32px;
        height: 48px;
        font-weight: 600;
        font-size: 18px;
        line-height: 48px;
        color: #fff;
        background: var(--primary-color);
        border-radius: 0px 99px 99px 0px;
    }

    &-hero {
        padding: 24px 48px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
        background-color: var(--primary-color);
        border-radius: 76px;
    }

    &-primary {
        padding: 11px 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        border-radius: 99px;
        background-color: var(--primary-color);
    }

    &-secondary {
        padding: 11px 12px;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: var(--primary-color);
        background-color: rgba(0, 194, 147, 0.08);
        border-radius: 99px;

        @include hover {
            color: var(--primary-color);
            background-color: rgba(0, 194, 147, 0.12);
        }

        &.button--loading {
            &::after {
                border-color: var(--primary-color) var(--primary-color) transparent;
            }
        }
    }

    &-middle {
        padding: 14px 32px;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: #fff;
        background-color: var(--primary-color);
        border-radius: 99px;
    }

    &-solid {
        padding: 14px 32px;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #000;
        background: var(--bg-light);
        border-radius: 99px;

        @include hover {
            color: #000;
            background: var(--border-color);
        }

        &.button--loading {
            &::after {
                border-color: var(--icon-default) var(--icon-default) transparent;
            }
        }
    }
}

.section {
    &:not(:last-child) {
        margin-bottom: 88px;
    }
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.02em;

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    &:not(:last-child) {
        margin-bottom: 36px;
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 232px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.font-primary {
    color: var(--primary-color) !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba($color: #000000, $alpha: 0.48);
    z-index: 1000;
}

.fade {
    transition: opacity 0.15s linear;

    &:not(.show) {
        opacity: 0;
    }
}