/*general styles for all pages*/
@import "/mobile/products/mobile_template/general/general.css";
@import "/mobile/products/mobile_template/general/swiper.css";
/*header footer styles*/
@import "/mobile/products/mobile_template/header_footer/header.css";
@import "/mobile/products/mobile_template/header_footer/footer.css";
@import "/mobile/products/mobile_template/nav/style.css";
@import "/mobile/products/mobile_template/scroll-up/style.css";
@import "/mobile/products/mobile_template/toast/style.css";
/*tabs style*/
@import "/mobile/products/mobile_template/tabs/style.css";
/*banner styles*/
@import "/mobile/products/mobile_template/banners/style.css";
/*hero styles*/
@import "/mobile/products/mobile_template/hero/style.css";
/*product styles*/
@import "/mobile/products/mobile_template/product/style.css";
/*rating styles*/
@import "/mobile/products/mobile_template/rating/style.css";
/*card adding styles*/
@import "/mobile/products/mobile_template/card-adding/style.css";
/*tooltip styles*/
@import "/mobile/products/mobile_template/tooltip/style.css";
/*search styles*/
@import "/mobile/products/mobile_template/search/style.css";
/*category styles*/
@import "/mobile/products/mobile_template/category/style.css";
/*pharmacy styles*/
@import "/mobile/products/mobile_template/pharmacy/style.css";
/*news styles*/
@import "/mobile/products/mobile_template/news/style.css";
/*info styles*/
@import "/mobile/products/mobile_template/info/style.css";
/*ibox styles*/
@import "/mobile/products/mobile_template/ibox/style.css";
/*article styles*/
@import "/mobile/products/mobile_template/article/style.css";
/*ui styles*/
@import "/mobile/products/mobile_template/ui-section/style.css";
/*information styles*/
@import "/mobile/products/mobile_template/information/style.css";
/*find styles*/
@import "/mobile/products/mobile_template/find/style.css";

@import "/mobile/products/mobile_template/booking/style.css";

@import "/mobile/products/mobile_template/adv/adv.css";

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../general.scss';
@import "../../variables";
@import "../mixins/helpers";
@import "../breadcrumbs";
@import "../product-cart";
@import "../pagination";
@import "../instructions";
@import "../map";
@import "../slider";
@import "../pricelist";
@import "../reviews";
@import "../faqs";
@import "../cities";
@import "../reviews";

// IMPORTS END

.information {
    &:not(:last-child) {
        margin-bottom: 56px;
    }

    &__block {
        padding: 32px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: var(--text-dark);
        background-color: var(--bg-light);
        border-radius: 32px;
    }
}

.find-section {
    &__title {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: space-between;

        @media (min-width: 1200px) and (max-width: 1400px) {
            gap: 0;
        }
    }

    &__link {
        display: inline-block;
        padding: 4px 5px;
        min-width: 32px;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.5rem;
        text-align: center;
        color: var(--secondary-color) !important;
        border-radius: 8px;
        text-transform: uppercase;
        transition: all 300ms;

        &:hover {
            background-color: var(--bg-light);
            transition: all 300ms;
        }
    }

    &__last {
        margin-left: 32px;
    }
}

.photo-slider {
    &__slide {
        border: 1px solid #F2F2F5;
        border-radius: 16px;
        
        &:not(:last-child) {
            margin-right: 8px;
        }
        
        img {
            object-fit: contain;
        }
    }
    &__block {
        display: block;
        width: fit-content;
    }
}