.footer {
    margin-top: auto;
    padding: 26px 0 64px;
    background: var(--bg-light);
    border-radius: 48px 48px 0px 0px;

    &__top {
        margin-bottom: 60px;

        &-title {
			font-size: 32px;
			font-weight: 600;
			line-height: 1;
			margin-bottom: 9px;
        }

        &-subtitle {
            font-size: 16px;
            line-height: 22px;
            color: var(--text-dark);
        }

        &-image {
            height: auto;
            margin-right: 44px;
            margin-top: -40px;
            -webkit-transform: rotate(14.86deg);
            -ms-transform: rotate(14.86deg);
            transform: rotate(14.86deg);
            width: 130px;
            object-fit: contain;
        }
    }

    &__middle {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;

        &:not(:last-child) {
            margin-bottom: 48px;
        }
    }

    &-middle {
        &__row {
            display: flex;
            align-items: flex-start;
            gap: 75px;
            flex-wrap: wrap;
        }
    }

    &__policy {
        margin-top: 14px;
        margin-left: 27px;
        font-size: 12px;
        line-height: 16px;
        color: var(--secondary-color);

        &-link {
            color: var(--text-dark);
        }
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__link {
        font-size: 16px;
        line-height: 22px;
        color: var(--text-dark);

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        @include hover {
            color: #000;
        }
    }

    &__number {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        text-align: right;
    }

    &__text {
        font-size: 14px;
        line-height: 22px;
        color: var(--secondary-color);
    }
}