@import '../../../node_modules/swiper/swiper';
@import '../mixins/breakpoint';
@import '../mixins/helpers';
@import '../../functions/responsive';
@import '../../variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../base';

@import '../pages/home';
@import '../advertisings';
@import '../animation';
@import '../header';
@import '../footer';
@import '../location';
@import '../forms';
@import '../search';
@import '../small-navigation';
@import '../socials';
@import '../breadcrumbs';
@import '../card-adding';
@import '../product-cart';
@import '../rating';
@import '../pagination';
@import '../instructions';
@import '../slider';
@import '../big-navigation';
@import '../pricelist';
@import '../faqs';
@import '../cities';
@import '../reviews';

// IMPORTS END

.faqs {
    &__header {
        font-size: 18px;
        line-height: 24px;
    }

    &__item {
        border-radius: 0;
        border: none;
        padding: 24px 0;

        @include hover {
			border-color: var(--border-color);
			box-shadow: none;
		}

        &:not(:last-child) {
            border-bottom: 1px solid var(--border-color);
        }
    }
}