.article-slider .swiper-slide{
    width: 80vw;
    max-width: 320px;

    height: auto;
}

.article-slider:not(:last-child){
    margin: 0 0 16px 0;
}

.article-slider .swiper-wrapper{
    align-items: stretch;
}

.article-item{
    height: 100%;
}

.article-item__link{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.article-item__header{
    height: 180px;
}

.article-item__image{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 16px;
}

.article-item__block{
    padding: 12px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.article-item__tag{
    font-size: 14px;
    color:#444952;
}

.article-item__name{
    font-size: 18px;
    color:#000;
    font-weight: 600;
    line-height: 24px;

    margin: 4px 0 12px 0;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.article-item__footer{
    margin: auto 0 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.article-item__info{
    display: flex;
    align-items: center;

    gap: 16px;
}

.article-item__view,.article-item__time{
    display: flex;
    align-items: center;
    gap: 4px;
}

.article-item__date,.article-item__view,.article-item__time{
    font-size: 14px;
    color:#78808F;
}

.article-item__icon{
    width: 20px;
    height: 20px;
}
