.tab__content{
    margin: 20px 0 0 0;
}

.tab__footer{
    margin: 20px 0 0 0;
}

.tab__links{
    display: flex;
    flex-wrap: wrap;

    gap: 4px;
}

.tab__link{
    display: flex;
    align-items: center;

    padding: 4px 8px;

    border-radius: 8px;
    transition: all .3s;

    font-size: 14px;
    color:#78808F;
}

.tab__link.is-active{
    background-color: #F7F7FA;
    color:#000;
}

.tab__block.is-active{
    -webkit-animation: fade-in .5s linear both;
    animation: fade-in .5s linear both;
    display: block;
}

.tab__block{
    display: none;
}