.reviews {
    position: relative;

    &__sort {
        position: relative;
        font-size: 14px;
        line-height: 24px;
        color: var(--secondary-color);
        margin-top: 20px;
        margin-bottom: 8px;

        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--border-color);
        }

        &:hover {
            color: var(--text-dark);
        }

        &-dropdown {
            width: fit-content;
            display: flex;
            align-items: center;
            background-color: #fff;
            padding-right: 12px;
            cursor: pointer;
        }
    }

    &__rating {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 24px;

        .rating {
            &__block {
                justify-content: flex-start;
                align-items: center;
                background-color: unset;
                padding: 0;
            }

            &__mark {
                font-size: 16px;
                font-weight: 600;
                letter-spacing: -0.05em;
                margin-top: 2px;
                height: 22px;
            }

            &__icon {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }

            &__count {
                font-size: 12px;
                color: var(--secondary-color);
                margin-left: 0;
                margin-top: 7px;
            }

            &__button {
                padding: 12px 28px;
                background-color: var(--primary-color);
                border-radius: 99px;
                color: #fff;
                line-height: 24px;
                font-weight: 600;

                &:active {
                    background-color: var(--primary-hover-color);
                }
            }
        }
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
    }

    &__image {
        max-width: 84px;
        width: 100%;
        height: auto;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            /* Сохраняем пропорции */
        }

        &--count {
            position: relative;

            &::after {
                z-index: 1;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 12px;
                background-color: #000;
                opacity: .64;
            }
        }

        &--sign {
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-50%);
            color: #fff;
        }
    }

    &__button--more {
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
        padding: 14px 24px;
        background-color: var(--bg-light);
        border-radius: 99px;
        color: #000;
        line-height: 24px;
        font-weight: 600;

        &:active {
            background-color: var(--border-color);
        }
    }

    .modal {
        &-dialog {
            width: calc(100% - 48px);
            margin: 0 24px;
        }

        &-content {
            position: relative;
            width: 100%;
            background-color: #fff;
            box-shadow: 0px 12px 28px 0px #0000000F;
            border: none;
            padding: 16px 20px;
            border-radius: 16px;
        }

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
        }

        &__title {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            margin-right: 8px;
        }

        &__close {
            width: 20px;
            height: 20px;
        }

        &__button {
            margin-left: auto;
        }

        &__textarea {
            z-index: 10;
            position: relative;
            width: 100%;
            border: 1px solid #E1E1E5;
            padding: 12px 16px;
            max-height: 300px;
            min-height: 144px;
            border-radius: 10px;
            background-color: unset;

            &-wrapper {
                position: relative;
                margin-bottom: 20px;
                width: 100%;
                height: fit-content;
                overflow: hidden;
                border-radius: 10px;

                &::after {
                    z-index: 5;
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 10px;
                    width: 20px;
                    height: 20px;
                    background-image: url('../../images/icons/textarea.svg');
                }
            }
        }
    }
}

.review {
    padding: 16px 0;

    &:not(:last-child) {
        border-bottom: 1px solid #F2F2F5;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__username {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    &__rating {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    &__checked {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        padding: 3px 6px;
        width: fit-content;
        background-color: var(--bg-light);
        font-size: 12px !important;
        color: var(--secondary-color);

        &-icon {
            width: 16px;
            height: 16px;
            margin-right: 2px;
        }
    }

    &__stars {
        display: flex;
        margin-left: 4px;
    }

    &__star-icon {
        width: 13.33px;
        height: 13.33px;

        &--disabled {
            filter: saturate(0);
            opacity: .3;
        }

        &:not(:last-child) {
            margin-right: 1.33px;
        }
    }

    &__product {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 16px;
        margin: 4px 0;

        &::after {
            z-index: -1;
            content: "";
            position: absolute;
            left: -10px;
            top: 0;
            display: block;
            width: calc(100% + 20px);
            height: 100%;
            border-radius: 15px;
            background-color: var(--bg-light);
            overflow: hidden;
            opacity: 0;
            transition: .3s;
        }

        &:active {
            color: #000 !important;

            &::after {
                overflow: visible;
                opacity: 1;
            }
        }

        &-block {
            display: flex;
            flex-direction: column;
        }

        &-image {
            width: 40px;
            height: 40px;
            margin-right: 12px;
        }

        &-name {
            font-size: 14px;
            line-height: 18px;
        }

        &-desc {
            font-size: 12px;
            line-height: 14px;
            color: var(--secondary-color);
            margin-top: 4px;
        }

        &-price {
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            min-width: 106px;
            text-align: right;
            margin-left: auto;

            &--null {
                font-weight: 500;
                color: #ABB6CC;
            }
        }

        &-icon {
            width: 14px;
            height: 14px;
            border-top: 2px solid var(--icon-default);
            border-left: 2px solid var(--icon-default);
            transform: rotate(135deg);
            transition: all 300ms;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: var(--text-dark);
    }

    &__images {
        margin: 20px 0;
    }

    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 16px;
    }

    &__date {
        font-size: 12px;
        color: var(--secondary-color);
    }

    &__buttons {
        display: flex;
        margin-left: auto;
    }

    &__report {
        right: 0;

        a {
            color: var(--text-dark);
        }

        .js-dropdown-link:hover {
            background-color: unset;

            a {
                color: #000;
                background-color: unset;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;

        svg path {
            transition: .3s;
        }

        &:not(&--active) {
            svg path {
                transition: .3s;
                fill: #ABB6CC;
            }

            &:hover {
                svg path {
                    fill: #78808F;
                }
            }
        }

        &--like {
            svg path {
                transition: .3s;
                fill: #00C293;
            }
        }

        &--dislike {
            svg path {
                transition: .3s;
                fill: #EB1C4E;
            }
        }

        svg {
            width: 24px;
            height: 24px;
            margin-right: 4px;
        }
    }
}