@import "../variables";
@import "mixins/helpers";

.instructions {
    &__title {
        position: relative;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
        letter-spacing: -0.02em;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 3px;
            display: block;
            width: 24px;
            height: 24px;
            transform: rotate(0deg);
            background-image: url('../../images/icons/accardion_arrow.svg');
            transition: all 300ms;
        }
    }

    &__link {
        color: var(--primary-color);

        &:active {
            color: var(--primary-hover-color);
        }
    }

    &__text {
        font-size: 14px;
        color: var(--text-dark);
    }

    &__block {
        padding-top: 16px;
        padding-bottom: 8px;

        @include active {
            transition: all 300ms;

            .instructions__title:after {
                transform: rotate(180deg);
            }
        }
    }
}